<!DOCTYPE html>
<html lang="en" and dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/style.css}"
    />
    <link
            th:rel="stylesheet"
            th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/font-awesome.min.css}"
    />
    <link
            rel="stylesheet"
            type="text/css"
            media="all"
            th:href="@{/css/styles.css}"
    />
    <meta charset="ISO-8859-1" />
    <title>Login Page</title>
</head>
<body>
      <div class="jumbotron">
          <div class="container">
              <h1>Many Jobs</h1>
              <p class="jumbotron_inner_text">The Best Job Site In The World</p>
          </div>
      </div>
</body>
</html>